@import "../variables";

$text-block-bg: #222;
$text-block-bg-colored: $main-clr;

.text-block {
	display: inline-block;
	font-size: 18px;
	line-height: 32px;
	padding: 0 10px;
	margin: 2px;

	color: white;
	background: $text-block-bg;

	&--colored {
		background: $text-block-bg-colored;
	}

	&--big {
		font-size: 32px;
		line-height: 46px;
	}

	&--small {
		font-size: 14px;
		line-height: 28px;
	}
	&--link {

		&:hover, &:active, &:focus {
			color: white;
			background: $text-block-bg-colored;
			text-decoration: none;
		}
	}
}